
input{
    width: 90%;
    height: 30px;
    margin: 5% 5%;
    border: 2px solid grey;
    border-radius: 0 15px 0 15px;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}
h3{
    margin: 2% 0;
    float: left;
}
p{
    float: left;
    height: auto;
    margin: 1% 0;
    width: 100%;
}
textarea{
    height: 270px;
    width: 90%;
    margin: 5% 5% 1%;
    border-radius: 0 15px 0 15px;
    border: 2px solid grey;
}
.buttonForm{
    width: 50%;
    margin: 0 25%;
    border: 1px inset;
    font-weight: bold;
    background-color: white;
    color:black;
    padding: 1% 0;
    opacity: 60%;
}
.buttonForm:hover{
    animation-name: firstAnimation;
    animation-duration: 2s;
    opacity: 1;
    font-size: large;
    padding: 1% 1%; 
    border-radius: 15px;
}