@font-face {
    font-family: 'Century Gothic';
    src: url('assets/fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    --head-color: #D5A408;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
}
button{
    border-radius: 20px 0 20px 0 ;
    box-shadow: 2px 2px 10px;
    font-style: normal;
    cursor: pointer;
    border: 1px solid;
}
button::first-letter{
    color:var(--head-color);
}
main button:hover, nav button:hover{
    padding: 0 0 2px 2px;
    box-shadow: 0 0 0 0;
    transition: 0.2s;
}
main button:hover::first-letter, 
nav button:hover::first-letter{
    color:black;
}